html{
  background: #1c1c1c;
}
body{
  margin-top: 30px;
}
.heading{
  color: #ff0000;
  font-size: 50pt;
  font-weight: bold;
  font-family: "Verdana";
}
#container {
 width: 960px;
 margin: 0px;
}
#nav {
 width: 320px;
 float: right;
}
#aside {
 width: 320px;
 float: right;
}
#content {
 width: 320px;
 float: right;
}

.right{
  color: a4a4a4;
}
.centred{
  color: a4a4a4;
}

li{
  list-style-type: none;
} 
