html{
  background: #1c1c1c;
}
body{
  margin: 40px 0px 0px 200px;
}
.heading{
  color: #ff0000;
  font-size: 50pt;
  font-weight: bold;
  font-family: "Verdana";
}
.column{
  column-width: 320px;
  column-count: 3;
  column-rule: 3px solid #a4a4a4;
}
