html{
  background: #1c1c1c;
}
body{
  margin-top: 30px;
}
.heading{
  color: #ff0000;
  font-size: 50pt;
  font-weight: bold;
  font-family: "Verdana";
  text-align: right;
}
#container {
 width: 960px;
 margin-top: 2%;
 margin: 0% 25% 0% 25%;
}
#nav {
 width: 320px;
 float: left;
 border-style: solid;
}
#aside {
 width: 320px;
 float: right;
}
#content {
 width: 320px;
 float: right;
}

.right{
  color: a4a4a4;
  text-align: right;
}
.centred{
  color: a4a4a4;
  text-align: right;
}

li{
  list-style-type: none;
} 
