html{
  background: #1c1c1c;
}

.heading{
  color: #ff0000;
  font-size: 50pt;
  font-weight: bold;
  font-family: "Verdana";
}
#container {
 width: 960px;
 margin: 40px 0px 0px 200px;
}
#nav {
 width: 320px;
 float: center;
}
#aside {
 width: 320px;
 float: right;
}
#content {
 margin: 0 320px 0 320px;
 float: right;
}

.right{
  color: a4a4a4;
}
.centred{
  color: a4a4a4;
}

li{
  list-style-type: none;
} 
